<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<connectionStrings>

		<add name="Banco"
			 connectionString="SERVER=10.184.45.22;DATABASE=impressora_adm;UID=root;PWD=0828;PORT=3306;"
			 providerName="MySql.Data.MySqlClient"/>

	</connectionStrings>
	
</configuration>